<?xml version="1.0" encoding="EUC-KR"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>RegisterInputServlet</servlet-name>
    <servlet-class>RegisterControl.RegisterInputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterInputServlet</servlet-name>
    <url-pattern>/registerInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckIDServlet</servlet-name>
    <servlet-class>RegisterControl.CheckIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckIDServlet</servlet-name>
    <url-pattern>/checkID</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteMemoServlet</servlet-name>
    <servlet-class>MemoControl.WriteMemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteMemoServlet</servlet-name>
    <url-pattern>/writeMemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginControl.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LoginControl.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReplyMemoServlet</servlet-name>
    <servlet-class>MemoControl.ReplyMemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyMemoServlet</servlet-name>
    <url-pattern>/replyMemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecvMemoServlet</servlet-name>
    <servlet-class>MemoControl.RecvMemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecvMemoServlet</servlet-name>
    <url-pattern>/recvMemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SentMemoServlet</servlet-name>
    <servlet-class>MemoControl.SentMemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentMemoServlet</servlet-name>
    <url-pattern>/sentMemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecvMemoViewServlet</servlet-name>
    <servlet-class>MemoControl.RecvMemoViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecvMemoViewServlet</servlet-name>
    <url-pattern>/recvMemoView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SentMemoViewServlet</servlet-name>
    <servlet-class>MemoControl.SentMemoViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentMemoViewServlet</servlet-name>
    <url-pattern>/sentMemoView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBSServlet</display-name>
    <servlet-name>BBSServlet</servlet-name>
    <servlet-class>BBSControl.BBSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSServlet</servlet-name>
    <url-pattern>/bbs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentDeleteServelt</display-name>
    <servlet-name>commentDeleteServelt</servlet-name>
    <servlet-class>BBSControl.commentDeleteServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentDeleteServelt</servlet-name>
    <url-pattern>/commentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentInsertServlet</display-name>
    <servlet-name>commentInsertServlet</servlet-name>
    <servlet-class>BBSControl.commentInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentInsertServlet</servlet-name>
    <url-pattern>/commentInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BBSWriteServlet</servlet-name>
    <servlet-class>BBSControl.BBSWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSWriteServlet</servlet-name>
    <url-pattern>/bbsWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBSLoadServlet</display-name>
    <servlet-name>BBSLoadServlet</servlet-name>
    <servlet-class>BBSControl.BBSLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSLoadServlet</servlet-name>
    <url-pattern>/bbslist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBSDeleteServelt</display-name>
    <servlet-name>BBSDeleteServelt</servlet-name>
    <servlet-class>BBSControl.BBSDeleteServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSDeleteServelt</servlet-name>
    <url-pattern>/bbsDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBSUpdateServlet</display-name>
    <servlet-name>BBSUpdateServlet</servlet-name>
    <servlet-class>BBSControl.BBSUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSUpdateServlet</servlet-name>
    <url-pattern>/bbsUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CanBBSWriteServlet</display-name>
    <servlet-name>CanBBSWriteServlet</servlet-name>
    <servlet-class>BBSControl.CanBBSWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanBBSWriteServlet</servlet-name>
    <url-pattern>/CanBBSWriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteRecvMemoServlet</servlet-name>
    <servlet-class>MemoControl.DeleteRecvMemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRecvMemoServlet</servlet-name>
    <url-pattern>/deleteRecvMemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSentMemoServlet</servlet-name>
    <servlet-class>MemoControl.DeleteSentMemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSentMemoServlet</servlet-name>
    <url-pattern>/deleteSentMemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoteKindInputServlet</servlet-name>
    <servlet-class>VoteControl.VoteKindInputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteKindInputServlet</servlet-name>
    <url-pattern>/votekindInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoteViewServlet</servlet-name>
    <servlet-class>VoteControl.VoteViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteViewServlet</servlet-name>
    <url-pattern>/voteView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>VoteControl.VoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoteKindViewServlet</servlet-name>
    <servlet-class>VoteControl.VoteKindViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteKindViewServlet</servlet-name>
    <url-pattern>/voteKindView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EndVoteViewServlet</servlet-name>
    <servlet-class>VoteControl.EndVoteViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndVoteViewServlet</servlet-name>
    <url-pattern>/endVoteView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EndVoteResultServlet</servlet-name>
    <servlet-class>VoteControl.EndVoteResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndVoteResultServlet</servlet-name>
    <url-pattern>/endVoteResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SentToCandiMemoServlet</servlet-name>
    <servlet-class>MemoControl.SentToCandiMemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentToCandiMemoServlet</servlet-name>
    <url-pattern>/sentToCandiMemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SentToSubCandiMemoServlet</servlet-name>
    <servlet-class>MemoControl.SentToSubCandiMemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentToSubCandiMemoServlet</servlet-name>
    <url-pattern>/sentToSubCandiMemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoteApplyViewServlet</servlet-name>
    <servlet-class>VoteControl.VoteApplyViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteApplyViewServlet</servlet-name>
    <url-pattern>/voteApplyView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoteKindToSendServlet</servlet-name>
    <servlet-class>VoteControl.VoteKindToSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteKindToSendServlet</servlet-name>
    <url-pattern>/voteKindToSend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVoteApplyServlet</display-name>
    <servlet-name>AddVoteApplyServlet</servlet-name>
    <servlet-class>VoteControl.AddVoteApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVoteApplyServlet</servlet-name>
    <url-pattern>/addVoteApply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoteApplyBBSServlet</display-name>
    <servlet-name>VoteApplyBBSServlet</servlet-name>
    <servlet-class>VoteControl.VoteApplyBBSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteApplyBBSServlet</servlet-name>
    <url-pattern>/voteApplyBBS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteVoteApplyServlet</servlet-name>
    <servlet-class>VoteControl.DeleteVoteApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVoteApplyServlet</servlet-name>
    <url-pattern>/deleteVoteApply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplyVoteServlet</servlet-name>
    <servlet-class>VoteControl.ApplyVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyVoteServlet</servlet-name>
    <url-pattern>/applyVote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVotedServlet</display-name>
    <servlet-name>DeleteVotedServlet</servlet-name>
    <servlet-class>VoteControl.DeleteVotedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVotedServlet</servlet-name>
    <url-pattern>/deleteVoted</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllVoteNumViewServlet</display-name>
    <servlet-name>AllVoteNumViewServlet</servlet-name>
    <servlet-class>VoteControl.AllVoteNumViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllVoteNumViewServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BBsVoteServlet</servlet-name>
    <servlet-class>VoteControl.BBsVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBsVoteServlet</servlet-name>
    <url-pattern>/bbsVote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAfterTimeVoteServlet</servlet-name>
    <servlet-class>VoteControl.DeleteAfterTimeVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAfterTimeVoteServlet</servlet-name>
    <url-pattern>/deleteAfterTimeVote</url-pattern>
  </servlet-mapping><servlet>
		<servlet-name>LoadProfileServlet</servlet-name>
		<servlet-class>ProfileControl.LoadProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadProfileServlet</servlet-name>
		<url-pattern>/loadProfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateProfileServlet</servlet-name>
		<servlet-class>ProfileControl.UpdateProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProfileServlet</servlet-name>
		<url-pattern>/updateProfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteRecvMemoSelectedServlet</servlet-name>
		<servlet-class>MemoControl.DeleteRecvMemoSelectedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteRecvMemoSelectedServlet</servlet-name>
		<url-pattern>/deleteRecvMemoSelected</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteSentMemoSelectedServlet</servlet-name>
		<servlet-class>MemoControl.DeleteSentMemoSelectedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteSentMemoSelectedServlet</servlet-name>
		<url-pattern>/deleteSentMemoSelected</url-pattern>
	</servlet-mapping>
</web-app>